# Python
**/__pycache__/
*.pyc

# Virtual env
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Database
*.sqlite

# Pytest
.pytest_cache/

# Debug artifacts
debug/
**/debug/

# Playwright
playwright-report/
test-results/

# Coverage
.coverage
htmlcov/

# Logs
*.log